# Fill in your private TEST API key below
STRIPE_PRIVATE_KEY=sk_test_xxx

# Backend API URL
API_URL=http://127.0.0.1:3002

# Android Backend API URL.
# The example app will default to API_URL if no specific API_URL_ANDROID is defined
# This is helpful when you're working with the android emulator as it remaps the localhost
# ip value (default is 10.0.2.2)
# API_URL_ANDROID=http://10.0.2.2:3002
